.nav {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}
.cart {
  background: linear-gradient(
    90deg,
    rgba(243, 115, 53, 1) 35%,
    rgba(253, 200, 48, 1) 100%
  );
  border-radius: 3rem;
}

.hover:hover {
  color: #f3733d;
}